

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Prevent scrollbars */
}

.App {
  width: 95vw;
  height: 100vh;
  margin: 0;
  background-color: #1f2833; /* Darker background for contrast */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.App-header {
  color: #fff; /* White text for better contrast */
  text-align: center;
  margin-bottom: 20px;
}

.input-section textarea {
  width: 96%;
  height: 300px;
  padding: 10px;
  margin-bottom: 10px;
  
}

.intensity-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intensity-controls label {
  margin-right: 10px;
}

.intensity-controls input {
  width: 100px;
}

.output-section {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  color: #fff; /* White text for better contrast */
}

.output-section p {
  white-space: pre-wrap;
  color: #fff; /* White text for better contrast */
}

.generate-button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 5px;
}
.deconstruct-button {
  margin-left: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 5px;
}

.generate-button:hover {
  background-color: #0056b3;
}

.history-section {
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.article-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.article-item p {
  margin: 5px 0;
}

